<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear valued customer,</h1>
    <p>
      You have successfully completed your order ID#<%= @order.id %>.
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Product</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <% order_total = 0 %>
        <% @order.line_items.each do |li| %>
          <% order_total += li.product.price %>
            <tr>
              <td>
                <%= image_tag li.product.image.tiny %>
              </td>
              <td>
                <h4><%= li.product.name %></h4>
                <br>
                <p><%= li.product.description %></p>
              </td>
              <td>
                <%= li.quantity %>
              </td>
              <td>
                <%= "$#{li.product.price}" %>
              </td>
            </tr>
          </tbody>
          <% end %>
            <tfoot>
              <tr>
                <td colspan="3">OrderTotal</td>
                <td><%= "$#{order_total}" %></td>
              </tr>
            </tfoot>
          </table>
    </p>
  </body>
</html>