<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>
    <div style ="margin-top:20px;">
      <%= form_for @review, url: product_reviews_path(@product) do |r| %>
        <%= r.select :rating, [1,2,3,4,5] %>
        <%= r.text_area :description %> <br/>
        <%= r.submit %>
    </div>
<% end %>


  <% @product.reviews.reverse_each do |review_item| %>
    <%= render :partial => "products/reviewitem", :locals => {:review_item => review_item, :current_user => @current_user} %>

    <% if current_user && current_user.id == review_item.user_id %>

      <%= link_to fa_icon('trash'), product_review_path(review_item.product_id, review_item), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>

    <% end %>

  <% end %>

</section>